@charset "UTF-8";

/* 공통 스타일 */
#container{width: 80%; margin: 0 auto;}
h2{
	border-bottom: 2px solid #ccc; 
	padding: 16px;
	text-align: center;
}
ul li{list-style: none; margin: 10px;}

/* index 스타일 */
#main{text-align: center}
.main-pic img{width: 40%; border-radius: 8px;}
.menu{margin: 10px;}

/* join 스타일 */
.joinForm{width: 400px; margin: 0 auto;}
.joinForm label{width: 80px; float: left;}








